<h1>Bitcoin Calculator</h1>
<p>Last Update: {{ updateTime }}</p>
<main>
  <section>
    <label>BTC current rate in {{ selectedCurrency }}</label>
    <article>
      <nz-select [(ngModel)]="selectedCurrency" (ngModelChange)="changeCurrency($event)">
        <nz-option *ngFor="let currency of currencies" [nzLabel]="currency.label" [nzValue]="currency.value">
          USD
        </nz-option>
      </nz-select>
      <input nz-input placeholder="Current BTC" nzSize="large" [(ngModel)]="btcCurrent" disabled />
    </article>
  </section>
  <section>
    <label>BTC rate when bought in {{ selectedCurrency }}</label>
    <input nz-input placeholder="BTC rate when bought" nzSize="large" [(ngModel)]="btcBought"
      (ngModelChange)="calculate()" />
  </section>
  <section>
    <label>How much BTC bought in {{ selectedCurrency }}</label>
    <input nz-input placeholder="How many BTC bought" nzSize="large" [(ngModel)]="btcAmount"
      (ngModelChange)="calculate()" />
  </section>
</main>

<ng-container *ngIf="btcBought && btcAmount">
  <p class="result" [class.red-color]="saleOutcome === 'loss'">Great! You made a {{ saleOutcome }} of ${{
    sale.toFixed(2) }} ({{
    salePercentageRound
    }}%).</p>
</ng-container>