:host {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin: 0;
  margin-top: 30px;
  text-align: center;
  color: teal;
}

p {
  text-align: center;
  color: gray;
  font-size: 12px;
}

section {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

input {
  width: 350px;
  border: 2px solid teal;
  &:hover,
  &:focus {
    outline: none !important;
    border-color: teal !important;
    border-right-width: unset !important;
  }
}

.result {
  font-size: 1.2rem;
  margin: 50px;
  color: rgb(8, 204, 8);
}

.red-color {
  color: rgb(235, 27, 27) !important;
}

article {
  display: flex;
  align-items: center;
  input {
    margin: 0 !important;
    width: 277px;
  }
}
